Value id ([\d\.]+)
Value model (\S+)
Value sn (\S+)

Start
 ^shelf\s+shelf-id\s+product-id\s+serial-number -> TYPE1
 ^node\s+shelf\s+shelf-id\s+product-id\s+serial-number -> TYPE2

TYPE1
 ^${id}\s+\S+\s+${model}\s+${sn} -> Record

TYPE2
 ^\S+\s+${id}\s+\S+\s+${model}\s+${sn} -> Record
